.footer {
  background-color: rgba(0, 0, 0, 1); /* Apple Black Color */
  color: white;
  text-align: center;
  padding: 10px; /* Reduced padding for a sleeker footer */
  font-size: 0.9rem; /* Slightly smaller text */
}
